<p id="notice"><%= notice %></p>

<div class="page-header text-center">
  <h1>Garth's Blog Posts<small>something cool</small></h1>
</div>

<div class='container'>
  <% @blog_posts.each do |blog_post| %>
    <div class="well well-lg blog-well">
      <h3><%= link_to blog_post.title, blog_post %></h3>
      <p>author: <%= link_to blog_post.user.username, user_posts_blog_posts_path(id: blog_post.user.id) %></p>
      <p>published: <%= local_time(blog_post.created_at) %></p>
      <p><%= truncate(blog_post.blog_entry, length: 100) %></p>
      <p><%= link_to 'Read More', blog_post %></p>
        <% if current_user == blog_post.user %>
      <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn-xs btn-warning" %>
      <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger"%>
        <% end %>
    </div>
  <% end %>
</div>
<br>


